.catalog-content {
  padding-bottom: 70px;
  
  border-bottom: 1px solid #B4B4BC;
}

.catalog-content__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-top: 120px;
}

.catalog-content__button {
  position: fixed;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: none;

  @media(max-width: $mobileMin) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px 50px;
  }

  &:hover {
    opacity: 0.9;
  }

}

.catalog-content__button.hidden {
  display: none
}

.catalog-content__filter {

  @include adaptiv-value(width, 266, 180, 0);
  flex-shrink: 0;
  @include adaptiv-value(margin-right, 60, 20, 0);

  @media(max-width: $mobileMin) {
    display: block;
    width: 100%;
  }
}

.catalog-content__filter.hidden,
.catalog-content__cards.hidden {
  @media(max-width: $mobileMin) {
    display: none;
  }
}