.form-filter__item {
  margin-bottom: 30px;
}

.form-filter__title {
  margin-bottom: 16px;
}

.form-filter__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-filter__icons {
  line-height: 1.25;
}