.filter__buttons {
  display: none;

  @media(max-width: $mobileMin) {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 15px;

    background-color: #fff;
  }
}

.filter__button {
  padding: 10px 15px;

  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &--reset, 
  &--close {
    background-color: $purple;
  }

  &--submit {
    background-color: $green;
  }
}
