.filter__buttons {
  display: none;

  @media(max-width: $mobileMin) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }

  &--reset {
    background-color: $purple;
  }

  &--submit {
    background-color: $green;
  }

  &--close {
    background-color: $purple;
  }
}
