.impression-circle {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}

.impression-circle__text {
  position: relative;
  color: $purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
  border-radius: 50%;

  span {
    color: $purple;
  }
}

.impression-circle__piece {
  position: absolute;

  &--great {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    width: 48%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &--good {
    background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
    width: 50%;
    height: 49%;
    right: 0;
    bottom: 0;
  }

  &--passable {
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    height: 49%;
    width: 50%;
    right: 0;
    top: 0;
  }
}