.room-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include adaptiv-value(column-gap, 70, 10, 0);
  row-gap: 30px;

  max-width: 712px;

  @media(max-width: $mobileOnly) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.room-details__title {
  margin-bottom: 20px;
}