.user-list {
  @media (max-width: $burgerWidth) {
    flex-direction: column;
    
    width: 100%;
  }
}

.user-list__item {
  @include adaptiv-value(margin-left, 20, 5, 0);

  @media (max-width: $burgerWidth) {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}

.user-list .user-list__button {

  @media(min-width: $burgerWidth) {
    @include adaptiv-value(font-size, 12, 9, 0);
  }

  @media (max-width: $burgerWidth) {
    display: flex;
    justify-content: center;
    
  }
}
