<div class="@@class calendar hidden">
  <div class="calendar__wrapper">
    <button class="calendar__previous material-icons">
      arrow_back
    </button>
    <div class="calendar__month title"></div>
    <button class="calendar__next material-icons">
      arrow_forward
    </button>
  </div>
  <div class="calendar__day-of-week subtitle">Пн</div>
  <div class="calendar__day-of-week subtitle">Вт</div>
  <div class="calendar__day-of-week subtitle">Ср</div>
  <div class="calendar__day-of-week subtitle">Чт</div>
  <div class="calendar__day-of-week subtitle">Пт</div>
  <div class="calendar__day-of-week subtitle">Сб</div>
  <div class="calendar__day-of-week subtitle">Вс</div>
  
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>
  <div class="calendar__date-number"></div>

  <div class="calendar__buttons-wrapper">
    <button class="button-activity button-activity__cleanup button-activity__cleanup--calendar" type="reset">очистить</button>
    <button class="button-activity button-activity__apply button-activity__apply--calendar" type="button">применить</button>
  </div>
</div>