<div class="@@class counter hidden">
  <div class="counter__table">
    <div class="counter__row">
      <div class="counter__column counter__column--title">взрослые</div>
      <div class="counter__column counter__column--num">
        <button class="dec">
          -
        </button>
        <input class="num" type="number" value="0" readonly>
        <button class="inc">
          +
        </button>
      </div>
    </div>
    <div class="counter__row">
      <div class="counter__column counter__column--title">дети</div>
      <div class="counter__column counter__column--num">
        <button class="dec">
          -
        </button>
        <input class="num" type="number" value="0" readonly>
        <button class="inc">
          +
        </button>
      </div>
    </div>
    <div class="counter__row">
      <div class="counter__column counter__column--title">младенцы</div>
      <div class="counter__column counter__column--num">
        <button class="dec">
          -
        </button>
        <input class="num" type="number" value="0" readonly>
        <button class="inc">
          +
        </button>
      </div>
    </div>
    <div class="counter__row">
      <div class="counter__column">
        <button type="button" class="button-activity button-activity__cleanup button-activity__cleanup--counter">очистить</button>
      </div>
      <div class="counter__column">
        <button type="button" class="button-activity button-activity__apply button-activity__apply--counter">применить</button>
      </div>
    </div>
  </div>
</div>