.signin__title {
  margin-bottom: 20px;
}

.signin__item {
  margin-bottom: 10px;
}

.signin__radio {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.signin__radio-button {
  margin-right: 20px;
}

.signin__date {
  margin-bottom: 20px;
}

.signin__button {
  margin-top: 20px;
  margin-bottom: 30px;
}